<!-- <app-list-profile></app-list-profile> -->

                                    <!-- *ngIf and *ngFor hands own practices -->

<h1 *ngIf="isDisabled && msgFlag; else elseBlock" class="c1">WELCOME</h1>
<ng-template #thenBlock>thenBlock</ng-template>
<ng-template #elseBlock><h1>elseBlock</h1></ng-template>
<ul>
  <li *ngFor="let contact of contacts; index as i">
    <div *ngIf="f" style="background-color: yellow">first heading</div>
    <div>{{ i }} {{ contact.firstName }}</div>
  </li>
</ul>
<ol>
  <li *ngFor="let contact of contacts">{{ contact.lastName }}</li>
</ol>

<div><h3>last datas</h3></div>
<div>
  <ul>
    <li *ngFor="let contact of contacts; even as e; odd as o; index as i">
      <div *ngIf="e" style="background-color: rgba(128, 128, 128, 0.403)">
        {{ i }} {{ contact.firstName }} even=>{{ e }} and odd=>{{ o }}
      </div>
      <div *ngIf="o" style="background-color: white;">
        {{i}} {{contact.firstName}}
    </div>
    </li>
  </ul>
</div>

                                <!-- *ngSwitch , *ngSwitchCase , *ngSwitchDefault -->
                                 
<h2>Learning ngSwitch</h2>

<div [ngSwitch]="superPower">
    <div *ngSwitchCase="'spiderMan'">Display spiderman superPower</div>
    <div *ngSwitchCase="'superMan'">Display superMan superPower</div>
    <div *ngSwitchCase="'batMan'">Display batMan superPower</div>
    <div *ngSwitchCase="'hollowMan'">Display hollowMan superPower</div>
    <div *ngSwitchDefault>none of the above</div>
</div>

<div [ngSwitch]="tax">
    <div *ngSwitchCase="10"> tax more than 10</div>
    <div *ngSwitchCase="30">tax less than 10</div>
    <div *ngSwitchDefault>ngSwithDefault works</div>
</div>

                                <!-- attribute directive [ngStyle] and [ngClass] -->

<div [ngStyle]="{'background-color':'green', 'color':'white'}">This is green div element</div>
<div [ngStyle]="{'background-color':violet}">This is violet div element</div>
<div [ngStyle]="{'color':textColor=='blue'? 'blue':'red'}">woooo</div>

<div [ngClass]="'c1 c2'">This is ngClass example</div>
<div [ngClass]="getClass()">return ngClass using method</div>



<app-home></app-home> 
<app-home2></app-home2><br><br>


<div class="container">
  <input type="text" #inputEl>
  <button class="btn btn-primary" (click)="onBtnClicked(inputEl)">Submit</button>
  <app-demo [message]="inputVal" *ngIf="!toDestroy">
    <!-- <p>This is projected content</p> -->
    <p>User has entered following text: {{inputVal}}</p>
  </app-demo>
  <br><br>
  <button class="btn btn-danger" (click)="DestroyComponent()">Show / Hide</button>
</div>
<router-outlet></router-outlet>
