<!-- <input type="text" class="form-control" [disabled] = "isDisabled" [value]="name"> 


<input type="text" class="form-control" disabled = {{isDisabled}} [value]="name">

<input type="text" class="form-control" [(ngModel)]="string">
<button class="btn btn-success" [disabled] = 'string === "" '>Reset Data</button>
{{string}}


<h3 appGreenbackground>It Gives Green Background</h3>

<button class="btn btn-danger" (click)="changeServer()">Click</button>
<p>{{server}}</p>

 -->

<h3><u>Student Names</u></h3>
<ul *ngFor="let student of studentList">
    <li style="cursor: pointer;" (click)="calculate(student)">{{student.name}}</li>
</ul>

<button class="btn btn-danger" (click)="gotoContact()">Go to contact us component</button>